.io {
  background: #eee;
  padding: 5rem;
  display: block;
  text-align: center;
}

input {
  margin-left: 1rem;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  border: 1px solid #aeaeae;
}

#result {
  box-sizing: border-box;
  margin-top: 3rem;
  padding: 0 5rem 3rem;
  font-family: monospace;
  font-size: 16px;
  line-height: 26px;
  width: 100%;
  display: block;
  overflow-x: auto;
}

.btn {
  margin-left: 0.5rem;
  background: #000000;
  color: #ffffff;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  text-transform: uppercase;
}
